@mixin button{
    background: $gradient;
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    height: 60px;
    line-height: 1.4;
    padding: 15px 40px 15px 40px;
    filter: brightness(1);
    &:hover{
        filter: brightness(1.40);
    }
    }    